.container-card {
    padding: 3em 0 1em;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    flex-wrap: wrap;
}

.all-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.all-card .card-img {
    width: 220px;
    border-radius: 10px;
}

@media screen and (max-width: 420px) {
    .container-card {
        padding-top: 4.5em;
        font-size: 18px;
    }

    .all-card{
        margin-bottom: 1em;
    }

    .all-card .card-img {
        margin: 0 .5em;
        width: 120px;
    }
}